@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: var(--text-color);
  background-color: var(--background-color)
}

:root {
  --primary-color: #162b52;
  --secondary-color: #11143b;
  --text-color: #333;
  --text-color-white: #edf0ee;
  --background-color: #f4f4f4;
  --secondary-background-color: #121212;
  --button-hover-color: #dedcdc;
}